body {
    background-color: #a194f3;
  }
  
  .main {
    height: 100vh;
    width: 100vw;
    background-color: #a194f3;
  }
  
  .title {
    text-align: center;
    width: 100%;
    padding: 2%;
    background-color: #836FFF;
    color: #fff;
  }
  
  .bottom {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
  }